:root {
  --color-transparent: transparent;
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #323232;
  --color-blue: #f1f5f9;
  --color-dark-blue: #3f8ae0;
  --color-selected: #a39eec;
  --color-primary: #3f51b5;
  --color-transparent-black: #0000;
  --color-success: #10b981;
  --color-success-dark: #059669;
  --color-danger: #ef4444;
  --color-danger-dark: #dc2626;
  --color-warning: #f59e0b;
  --color-warning-dark: #d97706;
  --color-disabled: rgba(0, 0, 0, 0.38);
}
