@import "mixins";

.btn {
  height: 36px;
  padding-inline: 10px;
  border: 1px solid var(--color-transparent);
  border-radius: var(--border-radius-md);
  @include transition((border-color, background-color, color));

  &-primary {
    background-color: var(--color-white);
    border-color: var(--color-grey);
    color: var(--color-grey);

    @include any-hover {
      border-color: var(--color-dark-blue);
      color: var(--color-dark-blue);
    }
  }

  &-success {
    background-color: var(--color-success);
    color: var(--color-white);

    @include any-hover {
      background-color: var(--color-success-dark);
    }
  }

  &-warning {
    background-color: var(--color-warning);
    color: var(--color-black);

    @include any-hover {
      background-color: var(--color-warning-dark);
    }
  }

  &-danger {
    background-color: var(--color-danger);
    color: var(--color-white);

    @include any-hover {
      background-color: var(--color-danger-dark);
    }
  }

  &-disabled {
    background-color: var(--color-disabled);
    cursor: unset;
  }

  &-full-width {
    width: 100%;
  }
}
