@import "mixins";
@import "variables";

.input-wrapper {
  width: 100%;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    background-image: url("/assets/icons/arrow.svg");
    background-repeat: no-repeat;
    width: 24px;
    aspect-ratio: 1;
    color: var(--color-grey);
    pointer-events: none;
    font-size: 12px;
    @include transition((transform, filter));
  }

  .input {
    width: 100%;
    padding-block: 12px;
    padding-inline: 12px 48px;
    background-color: var(--color-transparent);
    border: 1px solid var(--color-grey);
    border-radius: var(--border-radius-sm);
    font-size: 18px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    @include text-ellipsis(unset);
    @include transition(border-color);

    @include any-hover {
      &:not(:focus) {
        border-color: var(--color-selected);
      }
    }

    &:focus {
      border-color: var(--color-selected);
      outline: none;
    }
  }

  .label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 1;
    @include transition((top, color, font-size, padding-inline));
  }

  .input:focus ~ .label,
  .input:not(:placeholder-shown):not(:focus) ~ .label {
    top: 0;
    padding-inline: 5px;
    background: linear-gradient(to bottom,
      transparent 0%,
      transparent 50%,
      var(--color-white) 50%,
      var(--color-white) 100%
    );
    font-size: 14px;
  }

  .input:focus ~ .label {
    color: var(--color-selected);
  }

  .select-options {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background-color: var(--color-white);
    border: 1px solid var(--color-green-focus);
    border-radius: var(--border-radius-sm);
    max-height: 200px;
    overflow-y: auto;
    z-index: $ui-index-3;
    box-shadow: 0 4px 8px rgba(#000, 10%);
  }

  .option {
    padding: 12px;
    cursor: pointer;
    @include transition((background-color, color));

    @include any-hover {
      &:not(.no-results) {
        background-color: var(--color-blue);
        color: var(--color-black);
      }
    }

    &.no-results {
      pointer-events: none;
    }

    &.selected {
      background-color: var(--color-selected);
      color: var(--color-white);
    }
  }

  &.options-open::after {
    filter: var(--color-green-icon);
    transform: translateY(-50%) rotate(-180deg);
  }

  .enter-animation {
    animation: slide-down .3s;
  }

  .leave-animation {
    animation: slide-up .3s;
  }

  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-up {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-10px);
    }
  }
}
