@import "variables";

.header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: var(--color-blue);
}

.wrapper {
  max-width: 1920px;
  margin-inline: auto;
  padding: 25px 50px;
}

@media #{$ui-mobile} {
  .wrapper {
    padding: 10px;
  }
}
