@import "mixins";
@import "variables";

.wrapper,
.list {
  display: flex;
  flex-direction: column;
}

.wrapper {
  gap: 20px;
}

.input-search {
  width: 250px;
  max-width: 250px;
}

.status-bar {
  display: grid;
  gap: 10px;
}

.list {
  height: calc(100vh - 250px);
  position: relative;
  flex-grow: 1;
  gap: 10px;
  overflow: auto;
}

.row {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid var(--color-transparent);
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  @include transition(border-color);

  @include any-hover {
    border-color: var(--color-selected);

    .position {
      color: var(--color-selected);
    }

    ::ng-deep.helmet {
      border-color: var(--color-selected);
    }
  }
}

.position {
  @include transition(color);

  &.selected {
    color: var(--color-selected);
  }
}

.empty {
  display: flex;
  justify-content: center;
  font-weight: 600;
}

@media #{$ui-mobile} {
  .list {
    height: calc(100vh - 265px);
  }

  .input-search {
    width: 100%;
    max-width: unset;
  }
}
